@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;}
@media screen and (min-width: 960px){
header#main_header{
	height: 1950px;_background-color:lightgray;
	position: relative;margin-bottom: 100px;
}
	/*header_top*/
	#header_top{
		width: 1260px;_height: 50px;
		position: absolute;left:50%;margin-left:-630px;
		top:40px;z-index:1;
	}
	#header_top>h1{float: left;height: 50px;}
	#header_top>h1 a .logo{height: 100%;}
	#header_top>h1 a .logo{height: 100%;}
	#main_menu{float: right;}
	#main_menu{}
	#main_menu>ul{}
	#main_menu>ul>li{float: left;height: 50px;}
	#main_menu>ul>li>a{display: block;line-height:50px;padding:0 30px;color: #fff}
	#main_menu>ul>li:hover a{color: #F23E2E;transition: .3s;}

	.toggleMenu{}

	/*slider*/
	.slider_wrap{height: 1005px;}
	.slider_wrap ul li{height: 1005px;background-color:skyblue;}
	.slider_wrap li.slide_1st{
		background-image: url(../images/dot.png), url(../images/header_img01.jpg);
		background-repeat: repeat, no-repeat;
		background-size:auto,cover;
	}
	.slider_wrap li.slide_2st{
		background-image: url(../images/dot.png), url(../images/header_img02.jpg);
		background-repeat: repeat, no-repeat;
		background-size:auto,cover;
	}
	.slider_wrap .slider_txt{
		width: 500px;position: absolute;
		left: 35%;margin-left:-250px;
		color:white;top:25%;
	}
	.slider_wrap .slider_txt h3{font-size:2em;margin-bottom: 70px;}
	.slider_wrap .slider_txt h3 span{color: #F23E2E; }
	/*.slider_wrap .slider_txt h3:after{
		content:"";display: block;width: 300px;height: 2px;
		background-color: #fff;margin: 10px auto;
	}*/
	.slider_wrap .slider_txt .btn_reserve{
		width: 250px;height: 70px;background-color: rgba(114,22,13,0.6);
		border: 1px solid rgba(208,216,215,0.6);border-radius: 20px;
	}
	.slider_wrap .slider_txt .btn_reserve:hover{
		width: 250px;height: 70px;background-color: rgba(208,216,215,0.6);
		border: 1px solid rgba(208,216,215,0.6);border-radius: 20px;transition: .6s;
	}
	.slider_wrap .slider_txt .btn_reserve>a>p{
		text-align: center;line-height: 70px;font-size: 1.5em;
		color: #fff;
	}
	.slider_wrap .slider_txt .btn_reserve:hover p{
		text-align: center;line-height: 70px;font-size: 1.5em;
		color: #73160E;font-weight: bold;
	}
	/*content*/
	.content{
		width: 1260px;margin: 0 auto;
		position: absolute;left:50%;margin-left:-630px;
		bottom:0;
	}
	.content > ul > li{
		float: left;width: 25%;height: 315px;background-color: #fff;
		position: relative;overflow: hidden;
	}
	.content > ul > li:nth-child(2n){background-color:skyblue;}
	.content > ul > li p{text-align: center;color:white;font-weight:bold;}
	.content > ul > li img{display: block;margin: 0 auto;transition:.3s;}
	.content > ul > li img.icon{margin-bottom: 15px;}
	.content > ul > li a.iconLink{display: block;height: 315px;padding-top:80px;}
	.content > ul > li .card{
		position: absolute;top:0;padding-left:50px;
		padding-top:50px;color:white;
	}
	.content > ul > li .card h3:after{
		content:"";display: block;width: 50px;height: 3px;
		background-color: #fff;margin:20px 0;
	}
	.content > ul > li .card p{font-size:2em;text-align: left;}
	.content > ul > li .card_dark{
		position: absolute;top:0;padding-left:50px;
		padding-top:50px;color:#260101;
	}
	.content > ul > li .card_dark h3:after{
		content:"";display: block;width: 50px;height: 3px;
		background-color: #260101;margin:20px 0;
	}
	.content > ul > li .card_dark p{color: #260101;font-size:2em;text-align: left;}
	.content > ul > li:hover .bgImg{transform:scale(1.2)}

	.content > ul > li.ct1st{background-color:#260101; }
	.content > ul > li.ct2st{position: relative;overflow: hidden;}
	.content > ul > li.ct2st img.play{
		position: absolute;top:50%;left:50%;
		transform: translate(-50%,-50%);
	}
	.content > ul > li.ct2st .cover{
		width: 315px;height: 315px;background-color: rgba(114,22,13,0.5);
		position: absolute;
	}
	.content > ul > li.ct2st img.bgImg{height: 315px;}
	.content > ul > li.ct3st{width: 50%;}
	.content > ul > li.ct3st h2{position: relative;	z-index:1;left:50px;top:30px;color:#260101;}
	.content > ul > li.ct3st .slider2Wrap{
		position: absolute;top: 0;left: 0;
		width: 630px;
	}
	.content > ul > li.ct3st .slider2 li{}
	.content > ul > li.ct3st .slider2 li div{
		width: 315px;height: 315px;float: left;
	}
	.content > ul > li.ct3st .slider2 li div.left{
		padding-top:75px;padding-left:50px;padding-right:50px;
		background-color: #fff;color:#260101;
	}
	.content > ul > li.ct3st .slider2 li div.left:after{
		content:"";border-width:20px;border-style:solid;
		border-color:transparent transparent transparent white;
		position: absolute;left:315px;top:145px;
	}
	.content > ul > li.ct3st .btn{position: absolute;bottom:50px;right:365px;cursor: pointer;}
	.content > ul > li.ct3st .btn img{float: left;display: block;border: 1px solid #cdcdcd;}
	.content > ul > li.ct3st .btn img:first-child{border-right:none;}
	
	.content > ul > li.ct4st{background-color: #73160E;}
	.content > ul > li.ct5st{background-color: #F26B5E;}
	.content > ul > li.ct6st{width: 50%;position: relative;}

	.content > ul > li.ct7st{height: 630px;}
	.content > ul > li.ct8st{width: 50%;}
	.content > ul > li.ct9st{background-color: #73160E;}
	.content > ul > li.ct10st{background-color: #F26B5E;}
	.content > ul > li.ct11st{width: 50%;}
/*container*/
.container{
	height: 750px;
    background-image: url(../images/black-paper.png),url(../images/img_vision.jpg);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed;
	-webkit-background-size: auto,cover;
	background-size: auto,cover;
}
.container .section{width: 1260px;margin: 0 auto;padding-top: 70px;}
.container h4{text-align: center;color: #fff;}
.container h4:after{content: "";display: block;margin: 20px auto;width: 30px;height: 3px;background-color: #fff;}
.container .section>p{text-align: center;color: #fff;font-size: 2em;margin-bottom: 70px;}
.container .vision li{float: left;margin-right: 20px;width: 300px;height: 380px;transition: .3s;}
.container .vision li:last-child{margin-right: 0;}
.container .vision li:hover{box-shadow: 8px 8px 10px rgba(0,0,0,0.5);transform: translate(-30px,-30px);}
.container .vision .card{width: 300px;height: 300px;position: relative;}
.container .vision .card img{position: absolute;left: 50%;transform: translate(-50%);top: 70px;}
.container .vision .card .card_body{position: absolute;bottom: 0;width: 300px;height: 130px; padding: 0 20px; text-align: center;color: #fff}
.container .vision .card .card_body h3{margin-bottom: 50px;}
.container .vision .card .card_body p{font-size: 20px}

/*section*/
.section02 {width: 1260px;margin: 0 auto; height: 900px;margin-bottom: 300px;}
.section02 .reviewWrap{width: 1260px;height: 630px;padding: 80px 0;margin-bottom: 150px;}
.section02 .reviewWrap .review{width: 315px;height: 630px;background-color: #F23E2E;float: left;text-align: center;padding: 100px 0;color: #fff;}
.section02 .reviewWrap .review img{margin-bottom: 50px;}
.section02 .reviewWrap .review h3{margin-bottom: 50px;}
.section02 .reviewWrap .review p{margin-bottom: 50px;}
.section02 .reviewWrap .review a .moreBox{margin: 0 auto;width: 150px;height: 50px;background-color: rgba(242,106,94,0.6);line-height: 50px;color: #fff}
.section02 .reviewWrap .review a .moreBox:hover{background-color: #fff;color:#F23E2E;}
.section02 .reviewWrap ul{width: 945px;float:right;}
.section02 .reviewWrap ul li{color:#260101;float: left;width: 315px;height: 315px; background-color: #D0D9D8;overflow: hidden;position: relative;}
.section02 .reviewWrap ul .colorbox{padding: 40px}
.section02 .reviewWrap ul li h3{margin-bottom: 40px;}
.section02 .reviewWrap ul li p{font-size: 14px;}
.section02 .reviewWrap ul li img{height: 100%;}
.section02 .reviewWrap ul li .boxico{position: absolute;margin-bottom: 40px;bottom: 0;}

	.lastwrap{}
		.last{float: left;width: 630px;height: 315px;background-color: #260101;position: relative;overflow: hidden;}
		.last:last-child{background-color: #F26B5E;}
		.last .lastTxt {float: left;color: #fff;padding-top: 50px;padding-left: 50px;}
		.last .lastTxt h2{margin-bottom: 20px;}
		.last .lastTxt h2:after{content:"";display: block;width: 70px;height: 2px;
		background-color: #fff;margin-top: 20px;}
		.last .lastTxt p{margin-bottom: 20px; font-size: 20px}
		.last .lastTxt a{display: block;width: 250px;height: 60px;border: 1px solid #fff; color: #fff;line-height: 60px;text-align: center;transition: .3s}
		.last .lastTxt a:hover{border: 1px solid #73160E;background-color: #73160E;}
		.last .lastTxt a.la:hover {border: 1px solid #F23E2E;background-color: #F23E2E;}
		.last img{position: absolute;}
		.last img.sun{top: 10%;left: 75%;}
		.last img.bird{top: 20%;left: 80%;
			/*이름*/ animation-name: myani;
			/*동작시간*/animation-duration: 4s;
			/*반복횟수*/animation-iteration-count:infinite; 
			/*방향*/animation-direction: normal;
			animation-timing-function: linear /*ease*/;
		}
		@keyframes myani{
			from{left: 700px;top:100px;}
			to{left: -50px;top:100px;}
		}
		.last img.bus{top: 60%;left: 50%;}
/*footer*/
footer{width: 100%;height: 200px;background-color: #260101; color: #fff;}
	.footerBox{width: 1260px;height: 200px;margin: 0 auto;padding-top: 30px;}
	.footerBox .footermenu{width: 1260px;height: 80px;margin: 0 auto;}
	.footerBox .footermenu ul li{float: left;margin-right: 50px;}
	.footerBox .footermenu ul li:hover a{color: #D0D9D8;}
	.footerBox .footermenu ul li a{line-height: 40px;font-weight: bold;color: #fff;}
	.footerBox address{display: block;font-size:14px;}
	.footerBox address ul li{float: left;font-style: normal;margin-right: 20px;line-height: 30px;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
    border: 0 none; 
    background: #fff;
}

/*sub*/
.subHeader{
	background-image: url(../images/dot.png), url(../images/snack-2764876_1920.jpg);
	background-repeat: repeat, no-repeat;
	background-size:auto,cover;
	background-position:center;
	height: 500px !important;
	position: relative;
	margin-bottom: 0px !important;
	min-width: 1260px
}
	.subTitle{
		position: absolute;
		top: 150px;
		left: 50%;
		margin-left: -200px;
		text-align: center;
		color: #fff;
	}
	.subTitle h1{font-size: 46px;text-shadow: 4px 2px 10px #000;}
	.subTitle p{font-size: 24px;}
/*subHeader 끝*/
/*subSection 시작*/
.subMenuWrap{position: absolute;top:430px;width: 100%;}
	.subMenu{width: 1260px;margin: 0 auto;text-align: center;}
		.subMenu ul li{float: left;width: 315px;height: 70px;line-height: 70px;background-color: #fff;border: 1px solid #73160E;border-right: 0;}
		.subMenu ul li:nth-child(2){background-color:#73160E;}
		.subMenu ul li:nth-child(2) a{color:#fff;}
		.subMenu ul li:last-child{border-right: 1px solid #73160E;}
		.subMenu ul li a{display: block;color: #73160E;}
.subSection{width: 100%;background-color: #fff;padding-top: 20px;}
	.subNav{width: 1260px; margin: 0 auto;margin-bottom: 40px;}
	.subNav ul li{float: left;margin-right: 20px;}
	.subNav ul li img{width: 30px;}
	.subNav ul li a{}	
	.subNav ul li:last-child a{color: #73160E !important;}
	.subNav ul li a img{width: 15px;}

	.sectionTitle{width: 1260px;height: 550px;margin: 0 auto;text-align: center; color: #73160E;border-bottom: 1px solid #73160E;}
	.sectionTitle h3{padding-bottom: 40px;font-size: 26px;}
	.sectionTitle h3:before{content:"";display: block;width: 70px;height: 2px;
		background-color: #73160E;margin: 10px auto;margin-bottom: 40px;}
	.sectionTitle p{font-size: 26px;margin-bottom: 40px;}
	.sectionTitle span{font-size: 55px; color: #F23E2E; }

	.content01{width: 1260px;height: 560px;margin: 0 auto;padding: 100px 0px;border-bottom: 2px solid #D0D9D8;}
	.content01 ul li{width: 420px;float: left;text-align: center;}
	.content01 ul li img{width: 70px;margin-bottom: 35px;}
	.content01 ul li h4:before{margin: 0 auto;content:"";display: block;background-color: #F23E2E;width: 70px;height: 2px;margin-bottom: 35px;}
	.content01 ul li h4{font-size: 26px;margin-bottom: 35px;color:#F23E2E;}
	.content01 ul li p{font-size: 20px;color: #260101;}

	.content02{width: 1260px;height: 1030px;margin: 0 auto;padding: 100px 0;text-align: center;}
	.content02>h3{margin-bottom: 30px;font-size: 26px;color: #73160E;}
	.content02>p{margin-bottom: 65px;color: #260101;font-size: 20px;}
	.content02>ul>li{float: left;position: relative;overflow: hidden;}
	.content02>ul>li>a{width: 630px;height: 315px;display: block;}
	.content02>ul>li>a:hover .hoverBox{top: 0;z-index: 1}
	.content02>ul>li>a>.hoverBox{
		width: 630px;height: 315px;
		background-color: rgba(242, 62, 46, 0.6);
		position: absolute;
		transition: .6s;
		top: 100%;
	}
	.content02>ul>li>a>.hoverBox>.hoverTxt{
		width: 150px;
		height: 40px;color: #fff;
		background-color: #F23E2E;
		position: absolute;
		transform: translate(0,0);
		transition: 1.2s;
		top: 50%;
		left: 50%;
		text-align: center;
		line-height: 40px;}	
	.content02>ul>li>a:hover .hoverTxt{
		transform: translate(-50%,-50%);z-index: 2;}
						.insideUl li{float: left;width: 315px;height: 315px;overflow: hidden;background-color: #D0D9D8;}
						.insideUl li.insideLi{padding: 30px 0  70px 30px;text-align:left;}					
						.insideUl li.insideLi h3{margin-bottom: 40px;}					
						.insideUl li.insideLi p{width: 200px;}					
						.insideUl li img{height: 100%;}
						.insideUl li.viewTxt{position: relative;}
						.insideUl .overlay{
							width: 315px;
							height: 100%;
							background-color: rgba(38, 0, 0, 0.3);
							position: absolute;
							top: 0;left: 0;
						}
}

/*max959 미디어쿼리*/
@media screen and (max-width: 959px){
header#main_header{
	height: 1950px;
	background-color: lightgray;
	position: relative;
}
	/*header_top*/
	#header_top{
		width: 100%;height: 50px;
	}
	#header_top>h1{float: left;height: 50px;}
	#header_top>h1 a .logo{height: 100%;}
	#main_menu{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: pink;
		z-index: 99999;
		left: -100%;
	}
	#main_menu>ul{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	#main_menu>ul>li{height: 50px;}
	#main_menu>ul>li>a{display: block;line-height:50px;color: #fff}
	#main_menu>ul>li:hover a{color: #F23E2E;transition: .3s;}

	.toggleMenu{width: 50px;height: 50px;position: relative;cursor:pointer;float: right;}
	.toggleMenu div{width: 35px;height: 5px;position: absolute;border-radius: 3px;left: 7px;transition: .3s;background-color: #fff;}
	.toggleMenu .bar1{top: 11px;}
	.toggleMenu .bar2{top: 21px;}
	.toggleMenu .bar3{top: 31px;}

	.toggleMenu.change .bar1{transform: rotate(-45deg);top: 21px;}
	.toggleMenu.change .bar2{opacity:0;}
	.toggleMenu.change .bar3{transform: rotate(45deg);top: 21px;}
	.toggleMenu.change{position: fixed;z-index: 999999;right: 0;}

	/*slider*/
	.slider_wrap{height: 1005px; }
	.slider_wrap ul li{height: 1005px;background-color:skyblue;}
	.slider_wrap li.slide_1st{
		background-image: url(../images/dot.png), url(../images/header_img01.jpg);
		background-repeat: repeat, no-repeat;
		background-size:auto,cover;
	}
	.slider_wrap li.slide_2st{
		background-image: url(../images/dot.png), url(../images/header_img02.jpg);
		background-repeat: repeat, no-repeat;
		background-size:auto,cover;
	}
	.slider_wrap .slider_txt{
		width: 500px;position: absolute;
		left: 35%;margin-left:-250px;
		color:white;top:25%;
	}
	.slider_wrap .slider_txt h3{font-size:2em;margin-bottom: 70px;}
	.slider_wrap .slider_txt h3 span{color: #F23E2E; }
	/*.slider_wrap .slider_txt h3:after{
		content:"";display: block;width: 300px;height: 2px;
		background-color: #fff;margin: 10px auto;
	}*/
	.slider_wrap .slider_txt .btn_reserve{
		width: 250px;height: 70px;background-color: rgba(114,22,13,0.6);
		border: 1px solid rgba(208,216,215,0.6);border-radius: 20px;
	}
	.slider_wrap .slider_txt .btn_reserve:hover{
		width: 250px;height: 70px;background-color: rgba(208,216,215,0.6);
		border: 1px solid rgba(208,216,215,0.6);border-radius: 20px;transition: .6s;
	}
	.slider_wrap .slider_txt .btn_reserve>a>p{
		text-align: center;line-height: 70px;font-size: 1.5em;
		color: #fff;
	}
	.slider_wrap .slider_txt .btn_reserve:hover p{
		text-align: center;line-height: 70px;font-size: 1.5em;
		color: #73160E;font-weight: bold;
	}
	/*content*/
	.content{
		width: 1260px;margin: 0 auto;
		position: absolute;left:50%;margin-left:-630px;
		bottom:0;
	}
	.content > ul > li{
		float: left;width: 25%;height: 315px;background-color: #fff;
		position: relative;overflow: hidden;
	}
	.content > ul > li:nth-child(2n){background-color:skyblue;}
	.content > ul > li p{text-align: center;color:white;font-weight:bold;}
	.content > ul > li img{display: block;margin: 0 auto;transition:.3s;}
	.content > ul > li img.icon{margin-bottom: 15px;}
	.content > ul > li a.iconLink{display: block;height: 315px;padding-top:80px;}
	.content > ul > li .card{
		position: absolute;top:0;padding-left:50px;
		padding-top:50px;color:white;
	}
	.content > ul > li .card h3:after{
		content:"";display: block;width: 50px;height: 3px;
		background-color: #fff;margin:20px 0;
	}
	.content > ul > li .card p{font-size:2em;text-align: left;}
	.content > ul > li .card_dark{
		position: absolute;top:0;padding-left:50px;
		padding-top:50px;color:#260101;
	}
	.content > ul > li .card_dark h3:after{
		content:"";display: block;width: 50px;height: 3px;
		background-color: #260101;margin:20px 0;
	}
	.content > ul > li .card_dark p{color: #260101;font-size:2em;text-align: left;}
	.content > ul > li:hover .bgImg{transform:scale(1.2)}

	.content > ul > li.ct1st{background-color:#260101; }
	.content > ul > li.ct2st{position: relative;overflow: hidden;}
	.content > ul > li.ct2st img.play{
		position: absolute;top:50%;left:50%;
		transform: translate(-50%,-50%);
	}
	.content > ul > li.ct2st .cover{
		width: 315px;height: 315px;background-color: rgba(114,22,13,0.5);
		position: absolute;
	}
	.content > ul > li.ct2st img.bgImg{height: 315px;}
	.content > ul > li.ct3st{width: 50%;}
	.content > ul > li.ct3st h2{position: relative;	z-index:1;left:50px;top:30px;color:#260101;}
	.content > ul > li.ct3st .slider2Wrap{
		position: absolute;top: 0;left: 0;
		width: 630px;
	}
	.content > ul > li.ct3st .slider2 li{}
	.content > ul > li.ct3st .slider2 li div{
		width: 315px;height: 315px;float: left;
	}
	.content > ul > li.ct3st .slider2 li div.left{
		padding-top:75px;padding-left:50px;padding-right:50px;
		background-color: #fff;color:#260101;
	}
	.content > ul > li.ct3st .slider2 li div.left:after{
		content:"";border-width:20px;border-style:solid;
		border-color:transparent transparent transparent white;
		position: absolute;left:315px;top:145px;
	}
	.content > ul > li.ct3st .btn{position: absolute;bottom:50px;right:365px;cursor: pointer;}
	.content > ul > li.ct3st .btn img{float: left;display: block;border: 1px solid #cdcdcd;}
	.content > ul > li.ct3st .btn img:first-child{border-right:none;}
	
	.content > ul > li.ct4st{background-color: #73160E;}
	.content > ul > li.ct5st{background-color: #F26B5E;}
	.content > ul > li.ct6st{width: 50%;position: relative;}

	.content > ul > li.ct7st{height: 630px;}
	.content > ul > li.ct8st{width: 50%;}
	.content > ul > li.ct9st{background-color: #73160E;}
	.content > ul > li.ct10st{background-color: #F26B5E;}
	.content > ul > li.ct11st{width: 50%;}
/*container*/
.container{
	height: 750px;
    background-image: url(../images/black-paper.png),url(../images/img_vision.jpg);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed;
	-webkit-background-size: auto,cover;
	background-size: auto,cover;
}
.container .section{width: 1260px;margin: 0 auto;padding-top: 70px;}
.container h4{text-align: center;color: #fff;}
.container h4:after{content: "";display: block;margin: 20px auto;width: 30px;height: 3px;background-color: #fff;}
.container .section>p{text-align: center;color: #fff;font-size: 2em;margin-bottom: 70px;}
.container .vision li{float: left;margin-right: 20px;width: 300px;height: 380px;transition: .3s;}
.container .vision li:last-child{margin-right: 0;}
.container .vision li:hover{box-shadow: 8px 8px 10px rgba(0,0,0,0.5);transform: translate(-30px,-30px);}
.container .vision .card{width: 300px;height: 300px;position: relative;}
.container .vision .card img{position: absolute;left: 50%;transform: translate(-50%);top: 70px;}
.container .vision .card .card_body{position: absolute;bottom: 0;width: 300px;height: 130px; padding: 0 20px; text-align: center;color: #fff}
.container .vision .card .card_body h3{margin-bottom: 50px;}
.container .vision .card .card_body p{font-size: 20px}

/*section*/
.section02 {width: 1260px;margin: 0 auto; height: 900px;margin-bottom: 300px;}
.section02 .reviewWrap{width: 1260px;height: 630px;padding: 80px 0;margin-bottom: 150px;}
.section02 .reviewWrap .review{width: 315px;height: 630px;background-color: #F23E2E;float: left;text-align: center;padding: 100px 0;color: #fff;}
.section02 .reviewWrap .review img{margin-bottom: 50px;}
.section02 .reviewWrap .review h3{margin-bottom: 50px;}
.section02 .reviewWrap .review p{margin-bottom: 50px;}
.section02 .reviewWrap .review a .moreBox{margin: 0 auto;width: 150px;height: 50px;background-color: rgba(242,106,94,0.6);line-height: 50px;color: #fff}
.section02 .reviewWrap .review a .moreBox:hover{background-color: #fff;color:#F23E2E;}
.section02 .reviewWrap ul{width: 945px;float:right;}
.section02 .reviewWrap ul li{color:#260101;float: left;width: 315px;height: 315px; background-color: #D0D9D8;overflow: hidden;position: relative;}
.section02 .reviewWrap ul .colorbox{padding: 40px}
.section02 .reviewWrap ul li h3{margin-bottom: 40px;}
.section02 .reviewWrap ul li p{font-size: 14px;}
.section02 .reviewWrap ul li img{height: 100%;}
.section02 .reviewWrap ul li .boxico{position: absolute;margin-bottom: 40px;bottom: 0;}

	.lastwrap{}
		.last{float: left;width: 630px;height: 315px;background-color: #260101;position: relative;overflow: hidden;}
		.last:last-child{background-color: #F26B5E;}
		.last .lastTxt {float: left;color: #fff;padding-top: 50px;padding-left: 50px;}
		.last .lastTxt h2{margin-bottom: 20px;}
		.last .lastTxt h2:after{content:"";display: block;width: 70px;height: 2px;
		background-color: #fff;margin-top: 20px;}
		.last .lastTxt p{margin-bottom: 20px; font-size: 20px}
		.last .lastTxt a{display: block;width: 250px;height: 60px;border: 1px solid #fff; color: #fff;line-height: 60px;text-align: center;transition: .3s}
		.last .lastTxt a:hover{border: 1px solid #73160E;background-color: #73160E;}
		.last .lastTxt a.la:hover {border: 1px solid #F23E2E;background-color: #F23E2E;}
		.last img{position: absolute;}
		.last img.sun{top: 10%;left: 75%;}
		.last img.bird{top: 20%;left: 80%;
			/*이름*/ animation-name: myani;
			/*동작시간*/animation-duration: 4s;
			/*반복횟수*/animation-iteration-count:infinite; 
			/*방향*/animation-direction: normal;
			animation-timing-function: linear /*ease*/;
		}
		@keyframes myani{
			from{left: 700px;top:100px;}
			to{left: -50px;top:100px;}
		}
		.last img.bus{top: 60%;left: 50%;}
/*footer*/
footer{width: 100%;height: 200px;background-color: #260101; color: #fff;}
	.footerBox{width: 1260px;height: 200px;margin: 0 auto;padding-top: 30px;}
	.footerBox .footermenu{width: 1260px;height: 80px;margin: 0 auto;}
	.footerBox .footermenu ul li{float: left;margin-right: 50px;}
	.footerBox .footermenu ul li:hover a{color: #D0D9D8;}
	.footerBox .footermenu ul li a{line-height: 40px;font-weight: bold;color: #fff;}
	.footerBox address{display: block;font-size:14px;}
	.footerBox address ul li{float: left;font-style: normal;margin-right: 20px;line-height: 30px;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
    border: 0 none; 
    background: #fff;
}

/*sub*/
.subHeader{
	background-image: url(../images/dot.png), url(../images/snack-2764876_1920.jpg);
	background-repeat: repeat, no-repeat;
	background-size:auto,cover;
	background-position:center;
	height: 500px !important;
	position: relative;
	margin-bottom: 0px !important;
	min-width: 1260px
}
	.subTitle{
		position: absolute;
		top: 150px;
		left: 50%;
		margin-left: -200px;
		text-align: center;
		color: #fff;
	}
	.subTitle h1{font-size: 46px;text-shadow: 4px 2px 10px #000;}
	.subTitle p{font-size: 24px;}
/*subHeader 끝*/
/*subSection 시작*/
.subMenuWrap{position: absolute;top:430px;width: 100%;}
	.subMenu{width: 1260px;margin: 0 auto;text-align: center;}
		.subMenu ul li{float: left;width: 315px;height: 70px;line-height: 70px;background-color: #fff;border: 1px solid #73160E;border-right: 0;}
		.subMenu ul li:nth-child(2){background-color:#73160E;}
		.subMenu ul li:nth-child(2) a{color:#fff;}
		.subMenu ul li:last-child{border-right: 1px solid #73160E;}
		.subMenu ul li a{display: block;color: #73160E;}
.subSection{width: 100%;height: 900px;background-color: #fff;padding-top: 20px;}
	.subNav{width: 1260px; margin: 0 auto;margin-bottom: 40px;}
	.subNav ul li{float: left;margin-right: 20px;}
	.subNav ul li img{width: 30px;}
	.subNav ul li a{}	
	.subNav ul li:last-child a{color: #73160E !important;}
	.subNav ul li a img{width: 15px;}

	.sectionTitle{width: 1260px;height: 550px;margin: 0 auto;text-align: center; color: #73160E;border-bottom: 1px solid #73160E;}
	.sectionTitle h4{padding-bottom: 40px;font-size: 26px;}
	.sectionTitle h4:before{content:"";display: block;width: 70px;height: 2px;
		background-color: #73160E;margin: 10px auto;margin-bottom: 40px;}
	.sectionTitle p{font-size: 26px;margin-bottom: 40px;}
	.sectionTitle span{font-size: 55px; color: #F23E2E; }

	.content01{width: 1260px;height: 560px;margin: 0 auto;padding: 60px 0px;border-bottom: 2px solid #D0D9D8;}
	.content01 ul li{width: 420px;float: left;text-align: center;}
	.content01 ul li img{width: 70px;}
	.content01 ul li h4{}
	.content01 ul li p{}

	.content02{width: 100%;height: 1030px;}
	.content02 h4{}
	.content02 p{}
	.content02 ul li{float: left;}
	.content02 ul li a{width: 630px;height: 315px;display: block;}
	.content02 ul li a .hoverBox{width: 630px;height: 315px;background-color: rgba(242, 62, 46, 0.6);}
	.content02 ul li a .hoverBox .hoverTxt{width: 150px;height: 40px;color: #fff;background-color: #F26B5E;}
						.insideUl li{float: left;width: 315px;height: 315px;overflow: hidden;position: relative;}
						.insideUl li img{height: 100%;display: block;}
						.insideUl .overlay{
							width: 100%;
							height: 100%;
							background-color: rgba(38, 0, 0, 1);
							position: absolute;
							top: 0;left: 0;
						}
}